@import "../../../../sass/global";

.skills-container {
  margin: 0 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;

  &__add {
    font-size: 32px;
    border-radius: 10rem;
    padding: 0.5rem;
    background-color: $color-primary-light;

    &:hover {
      filter: brightness(105%);
      cursor: pointer;
    }

    &:active {
      filter: brightness(110%);
    }
  }
}

.skill-card {
  padding: 1rem 2rem;
  width: 8rem;
  height: 8rem;
  background-color: $color-primary-c-light;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  position: relative;

  &__close-icon {
    position: absolute;
    top: 0;
    right: 0;
    height: 1.6rem;
    width: 1.6rem;
    transform: translateX(40%) translateY(-40%);
    display: none;
  }
  &:hover {
    cursor: pointer;
    filter: brightness(95%);
    &__close-icon {
      display: flex;
    }
  }

  &:active {
    filter: brightness(90%);
  }

  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
      font-size: 22px;
    }

    &:hover {
      cursor: pointer;
      filter: brightness(95%);
    }
    &:active {
      filter: brightness(90%);
    }
  }

  &__add {
    display: none;
  }
}

.add-card {
  width: 8rem;
  height: 8rem;
  background-color: $color-grey-lighter;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  h3 {
    display: none;
  }
  h4 {
    display: none;
  }
  &__add {
    font-size: 5rem;
    font-weight: 800;
    align-self: center;
    justify-self: center;
    color: $color-grey;
  }

  &:hover {
    cursor: pointer;
    filter: brightness(95%);
  }
  &:active {
    filter: brightness(90%);
  }
}
