@import "../../../../sass/global";

.skills-container {
  margin: 0 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;

  &__add {
    font-size: 32px;
    border-radius: 10rem;
    padding: 0.5rem;
    background-color: $color-primary-light;

    &:hover {
      filter: brightness(105%);
      cursor: pointer;
    }

    &:active {
      filter: brightness(110%);
    }
  }
}

.skill-card {
  padding: 1rem 2rem;
  width: 8rem;
  height: 8rem;
  background-color: $color-primary-c-light;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;

  h3 {
    font-size: 22px;
  }
  &__add {
    display: none;
  }

  &:hover {
    cursor: pointer;
    filter: brightness(95%);
  }
  &:active {
    filter: brightness(90%);
  }
}

.add-card {
  width: 8rem;
  height: 8rem;
  background-color: $color-grey-lighter;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  h3 {
    display: none;
  }
  h4 {
    display: none;
  }
  &__add {
    font-size: 5rem;
    font-weight: 800;
    align-self: center;
    justify-self: center;
    color: $color-grey;
  }

  &:hover {
    cursor: pointer;
    filter: brightness(95%);
  }
  &:active {
    filter: brightness(90%);
  }
}
