@import "../../../sass/global";

.my-mentorships-container {
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__header {
    background-color: $color-primary-c-light;
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
      color: $color-grey-darker;
    }
  }

  &__cards {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    margin: 1rem auto;

    &--clean-a {
      text-decoration: none;
      color: $color-grey-black;
    }
  }
}
