@import "../../../sass//global";

.menteeships {
  box-shadow: 2px 2px 4px 1px rgb(0, 0, 0, 0.2);
  border-radius: 5px 5px 1rem 1rem;
  min-height: 65vh;

  &__categories {
    background-color: $color-primary-c-light;
    padding: 0;
    display: flex;

    span {
      text-align: center;
      flex: 1 1 1;
      width: 100%;
      padding: 1.5rem 1rem;
      border-right: 1px solid $color-grey-dark;
    }

    span:hover {
      cursor: pointer;
    }

    span:last-child {
      border-right: 0px solid $color-grey-dark;
    }
  }
  &__list {
    margin: 1rem;
  }

  &__no-skills {
    position: fixed;
    top: 10rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;

    p {
      align-self: center;
    }
  }
}

.a {
  font-weight: 800;
}
